<main>
  <% if(typeof user !== 'undefined') { %>
  <h1>WELCOME BACK <%= user.username %></h1>
  <a href="/log-out">LOG OUT</a>
  <% } else { %>
  <h1>HOMEPAGE</h1>
  <hr />
  <h3>Limited display of messages here.. login to see more</h3>
  <p><a href="/log-in">Login</a></p>
  <% } %>
</main>
