<main>
  <form method="POST">
    <label for="title"></label>
    <input id="title" name="title" type="text" />
    <label for="message">message</label>
    <input id="message" name="message" type="text" />
    <button type="submit">Submit!</button>
  </form>
</main>
